<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="stylesheet.css" >
        <!--<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css"> -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

          
    
        
        <div class="container-fluid banner">
            
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-md">
                        <div class="navbar-brand">FOOD FINDERZ</div>
                        <ul class="nav">
                        
                            <li class="nav-item">
                                <a class="nav-link" href="#">LOG OUT</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            
            </div>

            <!-- <h3><%= latitude %> </h3>
            <h3><%= longitude %></h3> -->

            <div>
                <form action = "/search" method = "POST" id = "search-bar">
                    <input type = "search" id = "search" name = "search" placeholder="Search...">
                    <button onclick="insertMarker()">Search</button>
                    <p id = "lol"></p>
                    <p id = "lol2"></p>

                </form>
                <!-- <div>
                <button onclick="testFunc()">Test</button>
                <p id = "demo">lol</p>
                <script>

                    var x = "<%= userName %>";
                    function testFunc() {
                        
                        console.log(x);
                        document.getElementById("demo").innerHTML = x;
                    }
                </script>
            </div> -->
            </div>

            <div id="googleMap" style="width:50%;height:85%; float:right"></div>
        </div>
        <!-- <div>
            <h3>Hello</h3>
        </div> -->

        <!-- <h3>"<%= latitude %>"</h3> -->

        <script>

            var longitude = parseFloat("<%= longitude %>");
            var latitude = parseFloat("<%= latitude %>");



            function insertMarker() {
                // document.getElementById("lol").innerHTML = typeof(longitude);
                // document.getElementById("lol2").innerHTML = latitude;
                

            }

            console.log("test 0 lol");

        function myMap() {
            // Create new map
            var map = new google.maps.Map(document.getElementById("googleMap"), {
                zoom: 17,
                center: {lat: latitude,lng: longitude},
            });


            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                });
            }

            addMarker({lat: latitude,lng: longitude})


        }


        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB20lJqGQ9WxvwHB-SfIn-Ln8-lK9sQh0
        &callback=myMap"></script>

        </body>
    </html>
