<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="stylesheet.css" >
        <!--<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css"> -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

          
    
        
        <div class="container-fluid banner">
            
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-md">
                        <div class="navbar-brand">FOOD FINDERZ</div>
                        <ul class="nav">
                        
                            <li class="nav-item">
                                <a class="nav-link" href="/">LOG OUT</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            
            </div>

            <!-- <h3><%= latitude %> </h3>
            <h3><%= longitude %></h3> -->

            <div id="googleMap" style="width:50%;height:75%; float:right; padding-top:7%"></div>
            <div style="padding-left:2%;float:left; padding-top:1%">
                <form action = "/search" method = "POST" id = "search-bar">
                    <input type = "search" id = "search" name = "search" placeholder="Address...">
                    <button onclick="insertMarker()">Apply</button>
                    <p id = "lol"></p>
                    <p id = "lol2"></p>

                </form>
                
            </div>
            <div style="padding-left:5%;float:left; padding-top:1%">
                <form action = "/search" method = "POST" id = "search-bar">
                    <input type = "search" id = "search" name = "search" placeholder="Search...">
                    <button onclick="insertMarker()">Search</button>
                    <p id = "lol"></p>
                    <p id = "lol2"></p>

                </form>
                
            </div>
            
            <div style="padding-left:2%;float:left; position:absolute; padding-top:3.5%"> 
                <h2>Filters</h2>
                <button onclick="insertMarker()">Apply</button>
                <button onclick="insertMarker()">Reset</button>
                <hr style= "height:2px;border-width:0;color:gray;background-color:gray">
                <h3>Distance</h3>
                <span class="brmedium"></span> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      5 miles
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      10 miles
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      15+ miles
                    </label>
                  </div>
                  <span class="brmedium"></span> 
                  <h3>Price</h3>
                <span class="brmedium"></span> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      $
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      $$
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      $$$+
                    </label>
                  </div>
                  <span class="brmedium"></span> 
                  <h3>Type of Food</h3>
                <span class="brmedium"></span> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Fast Food
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      American 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Chinese 
                    </label>
                  </div><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Mediterranean 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Thai 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Italian 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Middle Eastern 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Vietnamese 
                    </label>
                  </div>
            </div>
            <div style="padding-left:23%;float:left; position:absolute; padding-top:3.5%">
                <h2>Results</h2>
                <hr style= "height:2px;border-width:0;color:gray;background-color:gray">
                <h3 style="font-size: 150%;"><b><%= name %></b></h3>
                <h5 stle="font-size: 100%;"><%= address %></h5>
            </div>
            
        </div>
    
        <script>

            var longitude = parseFloat("<%= longitude %>");
            var latitude = parseFloat("<%= latitude %>");



            function insertMarker() {
                // document.getElementById("lol").innerHTML = typeof(longitude);
                // document.getElementById("lol2").innerHTML = latitude;
                

            }

            console.log("test 0 lol");

        function myMap() {
            // Create new map
            var map = new google.maps.Map(document.getElementById("googleMap"), {
                zoom: 17,
                center: {lat: latitude,lng: longitude},
            });


            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                });
            }

            addMarker({lat: latitude,lng: longitude})


        }


        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB20lJqGQ9WxvwHB-SfIn-Ln8-lK9sQh0
        &callback=myMap"></script>

        </body>
    </html>
