<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="stylesheet.css" >
        <!--<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css"> -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

          
    
        
        <div class="container-fluid banner">
            
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-md">
                        <div class="navbar-brand">FOOD FINDERZ</div>
                        <ul class="nav">
                        
                            <li class="nav-item">
                                <a class="nav-link" href="/">LOG OUT</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            
            </div>

            <!-- <h3><%= latitude %> </h3>
            <h3><%= longitude %></h3> -->

            <button onclick="changedark()" class="btn but2 btn-secondary btn-sm">Dark-Mode</button>
            <script type="text/javascript" src="functions.js"></script>

           <div id="googleMap" style="width:50%;height:75%; float:right; padding-top:1.5%"></div> 
           
           <form action="/setUp" method="POST">
                <div style="padding-left:2%;float:left;padding-top:1.25%;position:absolute">
                    <button onclick="insertMarker()">Show me restaurants!</button>
                </div>
           </form>
          
            <div style="padding-right:11%;float:right;padding-top:1.25%">
                <form action = "/search" method = "POST" id = "search-bar">
                    <div class = "speech">
                        <input type = "search" id = "search2" name = "search" placeholder="Search...">
                        <img id = "search2" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
                        <button onclick="insertMarker()">Search</button>
                    </div>
                    <p id = "lol"></p>
                    <p id = "lol2"></p>

                </form>
                
            </div>

            <br><br><br>

            <!--Filters-->
            <div style="padding-left:2%; float:left;position: relative;"> 
                <h2>Filters</h2>
                <hr style= "height:2px;border-width:0;color:gray;background-color:gray">
                <button onclick="insertMarker()">Reset</button>
                <!--<span class="brmedium"></span> -->
                <form action='/filter' method = "POST">
                  <!--<button onclick="insertMarker()">Apply</button>-->
                  <button onclick="insertMarker()">Submit</button>

                <span class="brmedium"></span> 
                <h3>Distance</h3>
                  <input type="radio" id="5mi" name="distance" value="5mi">
                    <label for="5mi">5 miles</label><br>
                  <input type="radio" id="10mi" name="distance" value="10mi">
                    <label for="10mi">10 miles</label><br>
                  <input type="radio" id="15mi" name="distance" value="15mi">
                    <label for="15mi">15+ miles</label>
                <span class="brmedium"></span> 
                  <h3>Price</h3>
                  <span class="brmedium"></span> 
                    <input type="radio" id="$" name="price" value="$">
                      <label for="$">$</label><br>
                    <input type="radio" id="$$" name="price" value="$$">
                      <label for="$$">$$</label><br>
                    <input type="radio" id="$$$" name="price" value="$$$">
                      <label for="$$$">$$$</label>
                  <br> 
                  <h3>Type of Food</h3>
                <span class="brmedium"></span> 
                
                  <input type="radio" id="Fast" name="types" value="Fast Food">
                    <label for="Fast">Fast Food</label><br>
                  <input type="radio" id="American" name="types" value="American">
                    <label for="American">American</label><br>
                  <input type="radio" id="Chinese" name="types" value="Chinese">
                    <label for="Chinese">Chinese</label><br>
                  <input type="radio" id="Mediterranean" name="types" value="Mediterranean">
                    <label for="Mediterranean">Mediterranean</label><br>
                  <input type="radio" id="Thai" name="types" value="Thai">
                    <label for="Thai">Thai</label><br>
                  <input type="radio" id="Italian" name="types" value="Italian">
                    <label for="Italian">Italian</label>
                <br>
                </form>
            </div>
            <div style="margin-left:20%; float:left; position:absolute; margin-right: 60%;">
                <h2>Results</h2>
                <hr style= "height:2px;border-width:0;color:gray;background-color:gray">
                <h3 style="font-size: 150%;"><b><%= name %></b></h3>
                <h5 stle="font-size: 100%;"><%= address %></h5>
                <br>
                <h3 style="font-size: 150%;"><b><%= name1 %></b></h3>
                <h5 stle="font-size: 100%;"><%= address1 %></h5>
                <br>
                <h3 style="font-size: 150%;"><b><%= name2 %></b></h3>
                <h5 stle="font-size: 100%;"><%= address2 %></h5>
                <br>
                <h3 style="font-size: 150%;"><b><%= name3 %></b></h3>
                <h5 stle="font-size: 100%;"><%= address3 %></h5>
                <br>
                <h3 style="font-size: 150%;"><b><%= name4 %></b></h3>
                <h5 stle="font-size: 100%;"><%= address4 %></h5>
            </div>
            
        </div>
    
        <script>
          // Setting up Map
            var longitude = parseFloat("<%= longitude %>");
            var latitude = parseFloat("<%= latitude %>");
            var longitude1 = parseFloat("<%= longitude1 %>");
            var latitude1 = parseFloat("<%= latitude1 %>");
            var longitude2 = parseFloat("<%= longitude2 %>");
            var latitude2 = parseFloat("<%= latitude2 %>");
            var longitude3 = parseFloat("<%= longitude3 %>");
            var latitude3 = parseFloat("<%= latitude3 %>");

            console.log("test 0 lol");

        function myMap() {
            // Create new map
            var map = new google.maps.Map(document.getElementById("googleMap"), {
                zoom: 14,
                center: {lat: latitude, lng: longitude},
            });

           
            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                });
            }

            // addMarker({lat: latitude,lng: longitude})
            console.log("HI");
            // if (name1 != "") {
              addMarker({lat: latitude1,lng: longitude1})
              addMarker({lat: latitude2,lng: longitude2})
              addMarker({lat: latitude3,lng: longitude3})
              addMarker({lat: latitude4,lng: longitude4})
              addMarker({lat: latitude5,lng: longitude5})
            // }


        }


        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB20lJqGQ9WxvwHB-SfIn-Ln8-lK9sQh0
        &callback=myMap"></script>
        <script src="/login/login.js"></script>

        </body>
    </html>
